OPENHIM_APIURL=https://localhost:8083
OPENHIM_USERNAME=admin
OPENHIM_PASSWORD=admin
OPENHIM_TRUSTSELFSIGNED=true
MEDIATOR_HOST=localhost
MEDIATOR_PORT=5022
MEDIATOR_REGISTER=false
MEDIATOR_HEARTBEAT=true
MEDIATOR_DHIS2SERVER_URL=https:localhost
MEDIATOR_DHIS2SERVER_USERNAME=admin
MEDIATOR_DHIS2SERVER_PASSWORD=admin
MEDIATOR_HAPISERVER_URL=http://localhost:8080/fhir
MEDIATOR_HAPISERVER_USERNAME=
MEDIATOR_HAPISERVER_PASSWORD=
MEDIATOR_ESIGLSERVER_URL=https://localhost
MEDIATOR_ESIGLSERVER_USERNAME=admin
MEDIATOR_ESIGLSERVER_PASSWORD=admin
MEDIATOR_ESIGLSERVER_RESOURCES_PATH=/rest-api
MEDIATOR_ELASTICSERVER_URL=http://localhost:9200
MEDIATOR_ELASTICSERVER_USERNAME=
MEDIATOR_ELASTICSERVER_PASSWORD=
MEDIATOR_EXTENSIONBASEURLREQUISITIONDETAILS=https://www.hl7.org/fhir/StructureDefinition/ProductDetails
MEDIATOR_EXTENSIONBASEURLPROGRAMDETAILS=https://www.hl7.org/fhir/StructureDefinition/ProgramDetails
MEDIATOR_PROGRAM_NAME=pnlp0
MEDIATOR_PROGRAM_CODE=SIGL-INTEGRE-PNLP
MEDIATOR_MAXREQUISITION2PULLPERPERIOD=20
