OPENHIM_APIURL=https://localhost:8083
OPENHIM_USERNAME=user
OPENHIM_PASSWORD=pwd
OPENHIM_TRUSTSELFSIGNED=true
MEDIATOR_HOST=localhost
MEDIATOR_PORT=5022
MEDIATOR_REGISTER=false
MEDIATOR_HEARTBEAT=true
