OPENHIM_APIURL=https://1ocalhost:8083
OPENHIM_USERNAME=admin
OPENHIM_PASSWORD=admin
OPENHIM_TRUSTSELFSIGNED=true
MEDIATOR_HOST=localhost
MEDIATOR_PORT=5021
MEDIATOR_REGISTER=true
MEDIATOR_HEARTBEAT=true
MEDIATOR_APPDIRECTORY=/home/path
MEDIATOR_DHIS2SERVER_URL=https://localhost/api
MEDIATOR_DHIS2SERVER_USERNAME=admin
MEDIATOR_DHIS2SERVER_PASSWORD=admin
MEDIATOR_HAPISERVER_URL=http://localhost:8080/fhir
MEDIATOR_HAPISERVER_USERNAME=
MEDIATOR_HAPISERVER_PASSWORD=
MEDIATOR_ESIGLSERVER_URL=https://localhost
MEDIATOR_ESIGLSERVER_USERNAME=admin
MEDIATOR_ESIGLSERVER_PASSWORD=admin
MEDIATOR_ELASTICSERVER_URL=http://localhost:9200
MEDIATOR_ELASTICSERVER_USERNAME=
MEDIATOR_ELASTICSERVER_PASSWORD=
MEDIATOR_BATCHSIZEFACILITYTOSYNC=200
MEDIATOR_BATCHSIZEFACILITYFROMHAPI=200
MEDIATOR_EXTENSIONBASEURLPRODUCTDETAILS=https://www.hl7.org/fhir/StructureDefinition/ProductDetails
MEDIATOR_EXTENSIONBASEURLPROGRAMDETAILS=https://www.hl7.org/fhir/StructureDefinition/ProgramDetails